table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    width: 32px;
    background-color: beige;
}


[class*='cell'] {
    width: 32px;
    height: 32px;
}

[class*="ship"] {
    background-color: red;
}

[class*="miss"] {
    background-color: blue;
}

[class*="targetHit"] {
    background-color: violet;
}